.root {
  --adm-color-background: none;
  --adm-color-light: var(--adm-color-text);
  :global {
    .adm-dropdown-item-highlight,
    .adm-dropdown-item .adm-dropdown-item-title-arrow-active {
      color: #fff;
    }
  }
}
.item {
  cursor: pointer;
}
.active {
  color: var(--adm-color-primary);
}
